{% extends "base.html" %}

{% block nav-about %}<span class="navItem navActive"><a href="{{ ROOT_URL }}/about.html">About</a></span>{% endblock %}

{% block left-content %}

<p>
The Seattle CROP Hunger Walk is a community event to help end hunger here in the Greater Seattle Area and around the globe.  
The event is organized by local volunteers and sponsored by <a href="http://cwsglobal.org" target="_blank">Church World Service</a>, a global humanitarian agency.  
The Walk supports some pretty incredible grassroots, hunger-fighting development efforts here at home and around the world.  
</p>

<p>
By participating in the Seattle CROP Hunger Walk you help to provide food and water, as well as resources that empower people to meet their own needs. 
From seeds and tools, to wells and water systems, to technical training and micro-enterprise loans, the key is people working together to identify their own development priorities, their strengths and their needs. 
Something CWS has learned through some 66 years of working in partnership around the world.
</p>

<p>
The Seattle CROP Hunger Walk is one Walk that takes place in three different locations. 
Choose to sign up at any location! Join us on Sunday, October 6, 2013 in <a href="north-seattle.html">North Seattle</a> at Green Lake, in <a href="west-seattle.html">West Seattle<a/> at Alki Beach, 
and in <a href="south-seattle.html">South Seattle</a> at Seward Park.
</p>

<p>
The Seattle CROP Hunger Walk: ending hunger one step at a time!  
</p>

<p>
<b>Sign up or donate by visiting <a href="http://www.crophungerwalk.org/seattlewa" target="_blank">www.crophungerwalk.org/seattlewa</a></b>
</p>

{% endblock %}

{% block additional-right-content %}

<div class="rightBox smallPhotoDiv">
  <img src="static/img/serbian_children_small.jpg" width="180">
</div>

<div class="rightBox smallPhotoDiv">
  <img src="static/img/latin_america_small.jpg" width="180">
</div>

{% endblock %}
