{% extends "base.html" %}

{% block nav-about %}<span class="navItem navActive"><a href="{{ ROOT_URL }}/about.html">About</a></span>{% endblock %}

{% block left-content %}

<p>CROP Hunger Walks are community events aimed at ending hunger both around the world and at home.  They are sponsored by Church World Service and are organized by local volunteers.  CROP Hunger Walks help to support the overall ministry of Church World Service, especially grassroots, hunger-fighting development efforts around the world.  In addition, each local CROP Hunger Walk can choose to return up to 25 percent of the funds it raises to hunger-fighting programs in its own community.</p>

<p>CROP Hunger Walks help to provide food and water, as well as resources that empower people to meet their own needs.  From seeds and tools, to wells and water systems, to technical training and micro-enterprise loans, the key is people working together to identify their own development priorities, their strengths and their needs . something CWS has learned through some 66 years of working in partnership around the world.</p>
 
<p>The Seattle CROP Hunger Walk is one Walk that takes place in three different locations.  Seattle area congregations and interested walkers may choose to sign up at any location!  
   We have a Walk in the <a href="{{ ROOT_URL }}/green-lake.html">Green Lake</a> neighborhood of north Seattle, 
   in  <a href="{{ ROOT_URL }}/west-seattle.html">West Seattle</a>, 
   and in the <a href="{{ ROOT_URL }}/central-seattle.html">Central Seattle</a> neighborhood of South Seattle.  
   All three walks are on the afternoon of October 6, 2013, and more information about each Walk can be found in that site's section of this website.</p>

{% endblock %}


{% block additional-right-content %}


{% endblock %}
