{% extends "base.html" %}

{% block nav-contact %}<span class="navItem navActive"><a href="{{ ROOT_URL }}/contact.html">Contact Us</a></span>{% endblock %}

{% block left-content %}

<p>For additional information or to receive promotional materials for the Seattle CROP Hunger Walk contact 
Christopher Carpenter at <a href="mailto:ccarpenter@cwsglobal.org">ccarpenter@cwsglobal.org</a> or (206) 988-1622.</p>

{% endblock %}

{% block additional-right-content %}

<div class="rightBox smallPhotoDiv">
  <img src="static/img/serbian_children_small.jpg" width="180">
</div>

<div class="rightBox smallPhotoDiv">
  <img src="static/img/latin_america_small.jpg" width="180">
</div>

{% endblock %}
