{% extends "base.html" %}

{% block nav-index %}<span class="navItem navActive"><a href="{{ ROOT_URL }}/index.html">Home</a></span>{% endblock %}

{% block left-content %}
<p>&nbsp;</p>
<p class="centered">Join us for the 15th Annual</p>
<p class="centered" style="font-size: x-large;">Seattle CROP Hunger Walk</p>
<p class="centered" style="font-size: x-large; font-weight: bold;">October 6th 2013</p>
<p class="centered">Walks organized in 
  <a href="{{ ROOT_URL }}/west-seattle.html">West Seattle</a>, 
  <a href="{{ ROOT_URL }}/green-lake.html">Green Lake</a>, or
  <a href="{{ ROOT_URL }}/south-seattle.html">South Seattle</a></p>
<p class="centered" style="font-size: large">To sign up or donate, click here.
</p>

<p class="centered">
<a href="http://www.marysplaceseattle.org/"><img src="static/img/marys_place_logo.png"/></a>
<a href="http://www.northhelpline.org/"><img src="static/img/north_helpline_logo.png"/></a>
<a href="http://www.whitecenterfoodbank.org/"><img src="static/img/white_center_food_bank_logo.png"/></a>
<a href="http://www.westseattlefoodbank.org/"><img src="static/img/west_seattle_food_bank_logo.png"/></a>
</p>

<p class="centered">
<iframe width="560" height="315" src="http://www.youtube.com/embed/ZmnCWOFMr_A" frameborder="0" allowfullscreen></iframe>
</p>

{% endblock %}

{% block additional-right-content %}

<div class="rightBox smallPhotoDiv">
  <img src="static/img/refugees_small.jpg" width="180">
  CROP Walk helps people uprooted by war.
</div>
<div class="rightBox smallPhotoDiv">
  <img src="static/img/farming_small.jpg" width="180">
  CROP Walk helps people learn new farming techniques.
</div>
<div class="rightBox smallPhotoDiv">
  <img src="static/img/water_small.jpg" width="180"> 
  CROP Walk helps people access clean water.
</div>
<div class="rightBox smallPhotoDiv">
  <img src="static/img/disasters_small.jpg" width="180">
  CROP Walk helps people affected by natural disasters.
</div>
<div class="rightBox smallPhotoDiv">
  <img src="static/img/school_small.jpg" width="180">
  CROP Walk helps children break free from a lifetime of poverty..
</div>

{% endblock %}
