{% extends "base.html" %}

{% block nav-index %}<span class="navItem navActive"><a href="{{ ROOT_URL }}/index.html">Home</a></span>{% endblock %}

{% block left-content %}
<p>&nbsp;</p>
<p class="centered">Join us for the 16th Annual</p>
<p class="centered" style="font-size: x-large;">Seattle CROP Hunger Walk</p>
<p class="centered" style="font-size: x-large; font-weight: bold;">October 6th 2013</p>
<p class="centered">
  Registration: 12:00 p.m., Walk: 1:00 p.m.
  <br/>Walks organized in 
  <a href="{{ ROOT_URL }}/west-seattle.html">West Seattle</a>, 
  <a href="{{ ROOT_URL }}/north-seattle.html">North Seattle</a>, or
  <a href="{{ ROOT_URL }}/south-seattle.html">South Seattle</a></p>
<p class="centered" style="font-size: large">To sign up or donate, <a target="_new" href="http://www.crophungerwalk.org/seattlewa">click here</a>.
</p>

<hr/>

<p class="centered">
The Seattle CROP Hunger Walk supports the international anti-hunger work of <a href="http://www.cwsglobal.org" target="_blank">CWS</a> and the following local agencies:
</p>

<p class="centered">
  <a href="http://allsaintschurchseattle.org/Outreach_ministries.html" target="_blank">All Saints' Episcopal Food Bank</a>
  <br><a href="http://cityfruit.org/" target="_blank">City Fruit</a>
  <br><a href="http://www.marysplaceseattle.org/" target="_blank">Mary's Place</a>
  <br><a href="http://www.northhelpline.org/" target="_blank">North Helpline</a>
  <br><a href="http://www.westseattlefoodbank.org/" target="_blank">West Seattle Food Bank</a>
  <br><a href="http://www.whitecenterfoodbank.org/" target="_blank">White Center Food Bank</a>
</p>

<hr/>

<p class="centered">
Learn more about the how the Seattle CROP Hunger Walk changes lives around the globe by joining us for dinner and a special Seattle-area 
screening of Visionaries featuring the work of CWS, supported by the Seattle CROP Hunger Walk!  
</p>

<p class="centered">
CWS has been featured in two episodes of the award-winning PBS documentary series <i>Visionaries</i>, which profiles the work of nonprofit organizations making a difference around the world.  
Hosted by <i>Law & Order</i> star Sam Waterston, <i>Visionaries</i> has been covering stories of hope and good work since 1995.  
</p>

<p class="centered">
Join us <b>Monday, September 16, 2013</b>, at <b>6 pm</b> at <a href="http://www.urbanfaith.org/" target="_blank">Gethsemane Lutheran Church</a> (911 Stewart Street in Seattle).  Please RSVP to <a href="mailto:lcurkendall@cwsglobal.org">lcurkendall@cwsglobal.org</a> by September 9th.
</p>

<p class="centered">
<iframe width="560" height="315" src="http://www.youtube.com/embed/ZmnCWOFMr_A" frameborder="0" allowfullscreen></iframe>
</p>

{% endblock %}

{% block additional-right-content %}

<div class="rightBox smallPhotoDiv">
  <img src="static/img/refugees_small.jpg" width="180">
  CROP Walk helps people uprooted by war.
</div>
<div class="rightBox smallPhotoDiv">
  <img src="static/img/farming_small.jpg" width="180">
  CROP Walk helps people learn new farming techniques.
</div>
<div class="rightBox smallPhotoDiv">
  <img src="static/img/water_small.jpg" width="180"> 
  CROP Walk helps people access clean water.
</div>
<div class="rightBox smallPhotoDiv">
  <img src="static/img/disasters_small.jpg" width="180">
  CROP Walk helps people affected by natural disasters.
</div>
<div class="rightBox smallPhotoDiv">
  <img src="static/img/school_small.jpg" width="180">
  CROP Walk helps children break free from a lifetime of poverty..
</div>

{% endblock %}
